@import 'variables';
footer {
    margin-top: 10.4em;
   & .footer1 {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 2em 0;
    & ul {
        display: flex;
        text-align: center;
        & li {
            list-style: none;
        
          }
      }
  }
  
  & .footer2 
  {
    background-color: #385EFC;
    & div {
    display: flex;
    align-items: center;
    }
       & img {
    height: 3em;
    width: 3em;
    margin-right: 2em;
    cursor: pointer;
    }
     & ul {
    display: flex;
    margin: 0;
    padding: 2.5em 0;
    align-items: center;
     & li {
        list-style: none;
        margin-right: 1.5em;
      }
  }
  
}
}