
#header{
    background-color: rgb(73, 73, 73);
    padding: 1.5%;
    color: white;
    a{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparentize($color: rgb(31, 29, 29), $amount: 1);
    transition: border-bottom 0.2s;
    transition-timing-function: ease-in-out;
    &:hover{
        border-bottom: 6px solid opacify($color: #eb0f0f, $amount: 1);
    }
    }
    #float{
    float: right;
    margin-right: 4%;
}
}

