@import 'variables';
main{
& .main-poster {
  text-align: center;
  justify-content: center;
  padding-top: 6rem;
  height: auto;

  & h1 {
    font-size: 5rem !important;
    margin: 0;
    letter-spacing: 1rem;
  }
  & h3{
    font-size: 1rem !important;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    text-align: center;
  }
  & p {
    font-size: 1.1rem;
    margin: 0.5em 0;
  }
  & .gymPoster img {
    height: 100%;
    width: 50vw;
  }
}
 & .theme-changes {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $bg-dark-mode;
  & h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
}
& .play {
  margin-top: 2em;
  width: 100%;
  & .bg-img {
    height: 30em;
    width: 100%;
    filter: brightness(0.5);
  }
  & .play-info {
    position: relative;
    margin-top: -28em;
    padding: 0 2em;
    @media (max-width: 450px){
      margin-top: -32.5em;
    }
    @media (max-width: 1100px){
      margin-top: -29em;
    }
    @media (max-width: 800px){
      margin-top: -32em;
    }
    @media (max-width: 600px){
      margin-top: -33em;
      padding: 0 1em;
    }
    & img {
      height: 10em;
      width: 15em;
      @media (max-width: 1000px){
        height: 9em;
      width: 12em;
      }
    }
    & p {
      color: $white-text;
      position: relative;
      bottom: 2em;
      width: 50vw;
      @media (max-width: 800px){
        width: 100%;
      }
      @media (max-width: 550px){
        font-size: 0.9rem;
      }
    }
    & .join-now {
      position: relative;
      bottom: 2em;
      padding: 0.1em;
      width: 6.8em;
      & button {
        border: 2px solid $white-text;
        background-color: transparent;
        padding: 0.8em;
        border-radius: 3px;
        & a {
          text-decoration: none;
          color: $white-text;
          font-weight: 400;
        }
      }
      &:hover {
        border: 2px solid $white-text;
        border-radius: 3px;
        & button {
          border: none;
        }
      }
    }
  }
}
}

@media (max-width: 800px){
  main .main-poster{
    padding-top: 2rem;
  }  
}

@media (max-width: 800px){
  main .main-poster h1{
  font-size: 2rem !important;
  text-align: center !important;
}
}
@media (max-width: 800px){
  main .main-poster h3{
    font-size: 1rem !important;
  text-align: center !important;
  }
  
}
  